API_ID=123456
API_HASH=abcdefghijklmnopqrstuvwxyz12345678
BOT_TOKEN=12345678:abdkskwnwbdoslqnwdhdowmw
ADMIN_ID=12345678
DUMP_CHANNEL=-100**********
MONGO_URI=mongodb+srv://Username:Password@cluster0.iq0vd.mongodb.net/?retryWrites=true&w=majority&appName=Cluster0
SESSION_STRING=
